<section class="content-header"><h1>Profile Settings</h1></section>

<section class="content">
  <div class="box">
    <div class="box-body">
      
      <form class="row" role="form" novalidate name="editProfile">
        
        <div class="col-md-6">
          <div class="form-group">
            <label>Username</label>
            <input ng-model="profile.username" type="text" disabled class="form-control" placeholder="Enter Username" />
          </div>

          <div class="form-group">
            <label>Email</label>
            <input ng-model="profile.email" type="text" disabled class="form-control" placeholder="Enter Email" />
          </div>

          <div class="form-group">
            <label>First Name</label>
            <input ng-model="profile.first_name" type="text" class="form-control" placeholder="Enter First Name" />
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input ng-model="profile.last_name" type="text" class="form-control" placeholder="Enter Last Name" />
          </div>

          <div class="form-group">
            <label>Company</label>
            <input ng-model="profile.company" type="text" class="form-control" placeholder="Enter Company" />
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input ng-model="profile.phone" type="text" class="form-control" placeholder="Enter Phone" />
          </div>
        </div>

        <span class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <button class="btn btn-primary" ng-disabled="editProfile.$pristine" ng-click="updateProfile()">Update Profile</button>
          <!-- <button class="btn btn-danger pull-right" tabindex="-1" ng-click="profile = {}">Reset Form</button> -->
        </span>

      </form>
    </div>
  </div>

</section>